Question 1

In [1]:
def isPowerOfTwo(n):
    if n <= 0:
        return False
    return (n & (n - 1)) == 0

In [2]:
print(isPowerOfTwo(1))  # Output: True
print(isPowerOfTwo(16))  # Output: True
print(isPowerOfTwo(3))  # Output: False

True
True
False

Question 2

In [3]:
def sumOfFirstNNumbers(n):
    return (n * (n + 1)) // 2

In [4]:
print(sumOfFirstNNumbers(3))  # Output: 6
print(sumOfFirstNNumbers(5))  # Output: 15

6
15

Question 3

In [5]:
def factorial(N):
    factorial = 1
    for i in range(1, N + 1):
        factorial *= i
    return factorial

In [6]:
print(factorial(5))  # Output: 120
print(factorial(4))  # Output: 24

120
24

Question 4

In [7]:
def calculateExponent(N, P):
    result = N ** P
    return result

In [8]:
print(calculateExponent(5, 2))  # Output: 25
print(calculateExponent(2, 5))  # Output: 32

25
32

Question 5

In [9]:
def findMax(arr, n):
    if n == 1:
        return arr[0]
    else:
        max_value = findMax(arr[1:], n - 1)
        return max(arr[0], max_value)

In [10]:
arr1 = [1, 4, 3, -5, -4, 8, 6]
print(findMax(arr1, len(arr1)))  # Output: 8

arr2 = [1, 4, 45, 6, 10, -8]
print(findMax(arr2, len(arr2)))  # Output: 45

8
45

Question 6

In [11]:
def findNthTerm(a, d, N):
    nthTerm = a + (N - 1) * d
    return nthTerm

In [12]:
print(findNthTerm(2, 1, 5))  # Output: 6
print(findNthTerm(5, 2, 10))  # Output: 23

6
23

Question 7

In [13]:
def permute(S, start, end):
    if start == end:
        print(''.join(S))
    else:
        for i in range(start, end + 1):
            S[start], S[i] = S[i], S[start]  # Swap characters
            permute(S, start + 1, end)  # Recurse on the next index
            S[start], S[i] = S[i], S[start]  # Restore original order

def printPermutations(S):
    n = len(S)
    permute(list(S), 0, n - 1)

In [14]:
printPermutations("ABC")
# Output:
# ABC
# ACB
# BAC
# BCA
# CBA
# CAB

printPermutations("XY")
# Output:
# XY
# YX

ABC
ACB
BAC
BCA
CBA
CAB
XY
YX

Question 8

In [15]:
def getProduct(arr):
    product = 1
    for num in arr:
        product *= num
    return product

In [16]:
arr1 = [1, 2, 3, 4, 5]
print(getProduct(arr1))  # Output: 120

arr2 = [1, 6, 3]
print(getProduct(arr2))  # Output: 18

120
18